<div class="field_wrapper">
<div class="form-horizontal">
    <label class="col-4" for="height">Hauteur <span class="unit">(mm)</span> :</label>
<input class="col-8" name="height" ng-model="element.height" />
</div>

<div class="form-horizontal">
<label class="col-4" for="width">Largeur <span class="unit">(mm)</span> :</label>
<input class="col-8" name="width" ng-model="element.width" />
</div>

<div class="form-horizontal">
<label class="col-4" for="length">Longueur <span class="unit">(mm)</span> :</label>
<input class="col-8" name="length" ng-model="element.length" />
</div>

<div class="form-horizontal">
<label class="col-4" for="reduction">Surface d'entailles <span class="unit">(mm<sup>2</sup>)</span> :</label>
<input class="col-8" name="reduction" ng-model="element.reduction" />
</div>

<div class="form-horizontal">
<label class="col-4" for="base">Base :</label>
<select class="col-8" name="base" ng-model="compression.base" ng-options="key as value for (key, value) in compression.bases"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="material">Matériau :</label>
<select class="col-8" name="material" ng-model="element.material" ng-options="item.key as item.value for item in materials"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="material_class">Classe du matérieau :</label>
<select class="col-8" name="material_class" ng-model="element.material_class" ng-options="key as key for (key, value) in material_classes"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="service_class">Classe de service :</label>
<select class="col-8" name="service_class" ng-model="element.service_class" ng-options="item as item for item in service_classes"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="combinaison">Combinaison :</label>
<select class="col-8" name="combinaison" ng-model="element.combinaison" ng-options="item as item for item in combinaisons"></select>
</div>

<div class="form-horizontal">
    <label class="col-4" for="effort">Effort pondéré <span class="unit">(daN)</span> :</label>
<input class="col-8" name="effort" ng-model="element.effort" />
</div>

<div class="form-horizontal">
<label class="col-4" for="duration">Durée la plus courte :</label>
<select class="col-8" name="duration" ng-model="element.duration" ng-options="item as item for item in durations"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="duration">Typologie de liaison :</label>
<select  class="col-8"name="duration" ng-model="compression.m" ng-options="value as key for (key, value) in liaisons"></select>
</div>
</div>

<div class="field_wrapper">
<input class="title" name="verdict" type="text" value="{{ element.verdict }}" disabled="disabled" ng-class="{valid: element.verdict_bool, invalid: element.verdict_bool == false}" />

<input class="title" name="flamb" type="text" value="{{ compression.flamb }}" disabled="disabled" ng-class="{valid: compression.flamb_bool, warning: compression.flamb_bool == false}" />


<input class="title" name="meca" type="text" value="{{ compression.meca }}" disabled="disabled" ng-class="{valid: compression.meca_bool, warning: compression.meca_bool == false}" />
</div>



<div class="field_wrapper">
<div class="form-horizontal">
<label class="col-4" for="global_section">Section globale <span class="unit">(mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="global_section"  type="text" value="{{ element.global_section }}" disabled="disabled" />

<label class="col-4" for="net_section">Section nette <span class="unit">(mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="net_section"  type="text" value="{{ element.net_section }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="sigmad">&sigma;<sub>c,0,d</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="sigmad"  type="text" value="{{ element.sigmad | number: 2 }}" disabled="disabled" />

<label class="col-4" for="fc0dkcbase">&fnof;<sub>c,0,d</sub> * K<sub>c,{{ compression.base }}</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="fc0dkcbase" type="text" value="{{ element.fdfinal | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="fc0k">&fnof;<sub>c,0,k</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="fc0k"  type="text" value="{{ element.fk | number: 2  }}" disabled="disabled" />

<label class="col-4" for="fc0d">&fnof;<sub>c,0,d</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="fc0d"  type="text" value="{{ element.fd | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="kmod">K<sub>mod</sub> :</label>
<input class="col-3" name="kmod"  type="text" value="{{ element.kmod | number: 2 }}" disabled="disabled" />

<label class="col-2" for="gammaM">&gamma;<sub>M</sub> :</label>
<input class="col-3" name="gammaM"  type="text" value="{{ element.gammaM | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="m">m :</label>
<input class="col-3" name="m"  type="text" value="{{ compression.m | number: 2 }}" disabled="disabled" />

<label class="col-2" for="Lef">L<sub>ef</sub> :</label>
<input class="col-3" name="Lef"  type="text" value="{{ compression.lef | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="base">Base :</label>
<input class="col-3" name="base"  type="text" value="{{ compression.base_value | number: 2 }}" disabled="disabled" />

<label class="col-2" for="ibase">I<sub>{{ compression.base }}</sub> :</label>
<input class="col-3" name="ibase"  type="text" value="{{ compression.ibase | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="lambdabase">&lambda;<sub>{{ compression.base }}</sub> :</label>
<input class="col-3" name="lambdabase"  type="text" value="{{ compression.lambdabase | number: 2 }}" disabled="disabled" />

<label class="col-2" for="lambdarelbase">&lambda;<sub>rel,{{ compression.base }}</sub> :</label>
<input class="col-3" name="lambdarelbase"  type="text" value="{{ compression.lambdarelbase | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="e005">E<sub>0,05</sub> :</label>
<input class="col-3" name="e005"  type="text" value="{{ compression.e005 | number: 2 }}" disabled="disabled" />

<label class="col-2" for="betac">&beta;<sub>c</sub> :</label>
<input class="col-3" name="betac"  type="text" value="{{ compression.betac | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="kbase">k<sub>{{ compression.base }}</sub> :</label>
<input class="col-3" name="kbase"  type="text" value="{{ compression.kbase | number: 2 }}" disabled="disabled" />

<label class="col-2" for="kcbase">k<sub>c,{{ compression.base }}</sub> :</label>
<input class="col-3" name="kcbase"  type="text" value="{{ compression.kcbase | number: 2 }}" disabled="disabled" />
</div>


</div>





