<div class="field_wrapper">
<label for="height">Hauteur, en mm :</label>
<input name="height" ng-model="height" />
</div>

<div class="field_wrapper">
<label for="base">Base, en mm :</label>
<input name="base" ng-model="base" />
</div>

<div class="field_wrapper">
<label for="section_global">Section globale, en mm<sup>2</sup> :</label>
<input name="section_global"  type="text" value="{{ section_global }}" disabled="disabled" />
</div>

<div class="field_wrapper">
<label for="reduction">Surface d'entailles, en mm<sup>2</sup> :</label>
<input name="reduction" ng-model="reduction" />
</div>

<div class="field_wrapper">
<label for="section_net">Section nette, en mm<sup>2</sup> (A) :</label>
<input name="section_net"  type="text" value="{{ section_net }}" disabled="disabled" />
</div>

<div class="field_wrapper">
<label for="material">Matériau</label>
<select name="material" ng-model="material" ng-options="item.key as item.value for item in materials"></select>
</div>

<div class="field_wrapper" ng-if="material == 'lvl'">
    <label for="exposant_lvl">Exposant d'effet d'échelle (fourni par le fabricant) :</label>
    <input name="exposant_lvl" ng-model="exposant_lvl" />
</div>

<div class="field_wrapper">
<label for="material_class">Classe du matérieau</label>
<select name="material_class" ng-model="material_class" ng-options="item as item for item in material_classes"></select>
</div>

<div class="field_wrapper">
<label for="service_class">Classe de service</label>
<select name="service_class" ng-model="service_class" ng-options="item as item for item in service_classes"></select>
</div>

<div class="field_wrapper">
<label for="altitude">Altitude</label>
<select name="altitude" ng-model="altitude" ng-options="item.key as item.value for item in altitudes"></select>
</div>

<div class="field_wrapper">
<label for="combinaison">Combinaison</label>
<select name="combinaison" ng-model="combinaison" ng-options="item as item for item in combinaisons"></select>
</div>

<div class="field_wrapper">
<label for="effort">Effort pondéré, en daN (N) :</label>
<input name="effort" ng-model="effort" />
</div>

<div class="field_wrapper">
<label for="duration">Durée la plus courte</label>
<select name="duration" ng-model="duration" ng-options="item as item for item in durations"></select>
</div>

<div class="field_wrapper">
<label for="NA">N/A, en N/mm<sup>2</sup> :</label>
<input name="NA"  type="text" value="{{ NA | number: 2 }}" disabled="disabled" />
</div>

<div class="field_wrapper">
<label for="kh">K<sub>h</sub> :</label>
<input name="kh"  type="text" value="{{ kh | number: 2 }}" disabled="disabled" />
</div>

<div class="field_wrapper">
<label for="kmod">K<sub>mod</sub> :</label>
<input name="kmod"  type="text" value="{{ kmod | number: 2 }}" disabled="disabled" />
</div>

<div class="field_wrapper">
<label for="gammaM">&gamma;<sub>M</sub> :</label>
<input name="gammaM"  type="text" value="{{ gammaM | number: 2 }}" disabled="disabled" />
</div>

<div class="field_wrapper">
<label for="ft0k">&fnof;<sub>t,0,k</sub> en N/mm<sup>2</sup> :</label>
<input name="ft0k"  type="text" value="{{ ft0k | number: 2  }}" disabled="disabled" />
</div>

<div class="field_wrapper">
<label for="ft0d">&fnof;<sub>t,0,d</sub> en N/mm<sup>2</sup> :</label>
<input name="ft0d"  type="text" value="{{ ft0d | number: 2 }}" disabled="disabled" />
</div>

<div class="field_wrapper">
    <label for="ft0dkh">&fnof;<sub>t,0,d</sub> * Kh en N/mm<sup>2</sup> :</label>
<input name="ft0dkh" type="text" value="{{ ft0dkh | number: 2 }}" disabled="disabled" />
</div>

<div class="field_wrapper">
<label for="verdict">Verdict :</label>
<input id="verdict" name="verdict" type="text" value="{{ verdict }}" disabled="disabled" ng-class="{valid: verdict_bool, invalid: verdict=='Non validé'}" />
</div>






