<article>
<ul>
    <li><a href="#/base-reactions/">Calcul de réactions d'appui</a></li>
    <li><a href="#/axial-traction/">Calcul de traction axiale</a></li>
    <li><a href="#/axial-compression/">Calcul de compression axiale</a></li>
    <li><a href="#/perpendicular-compression/">Calcul de compression perpendiculaire</a></li>
    <li><a href="#/oblique-compression/">Calcul de compression oblique</a></li>
    <li><a href="#/shearing-force/">Calcul cisaillement d'effort tranchant</a></li>
</ul>
<p></p>
<p>Ce logiciel est en cours de développement :<br />
Merci de bien vouloir reporter tout problème, ou demande de fonctionnalité, en ajoutant une « issue » sur le dépôt du projet :</p>
<p><a href="https://github.com/Fenykepy/RDMTool/issues" target="_blank">https://github.com/Fenykepy/RDMTool/issues</a></p>

</article>
