<div class="field_wrapper">
<div class="form-horizontal">
<label class="col-4" for="base_length">Longueur d'appui <span class="unit">(mm)</span> :</label>
<input class="col-8" name="base_length" ng-model="ocomp.base_length" />
</div>

<div class="form-horizontal">
<label class="col-4" for="base_width">Épaisseur d'appui <span class="unit">(mm)</span> :</label>
<input class="col-8" name="base_width" ng-model="ocomp.base_width" />
</div>

<div class="form-horizontal">
<label class="col-4" for="material">Matériau :</label>
<select class="col-8" name="material" ng-model="element.material" ng-options="item.key as item.value for item in materials"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="material_class">Classe du matérieau :</label>
<select class="col-8" name="material_class" ng-model="element.material_class" ng-options="key as key for (key, value) in material_classes"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="service_class">Classe de service :</label>
<select class="col-8" name="service_class" ng-model="element.service_class" ng-options="item as item for item in service_classes"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="combinaison">Combinaison :</label>
<select class="col-8" name="combinaison" ng-model="element.combinaison" ng-options="item as item for item in combinaisons"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="effort">Effort pondéré &perp; appui<span class="unit">(daN)</span> :</label>
<input class="col-8" name="effort" ng-model="element.effort" />
</div>

<div class="form-horizontal">
<label class="col-4" for="effort_angle">Angle effort / fil :</label>
<input class="col-6" name="effort_angle" ng-model="ocomp.effort_angle" />
<select class="col-2" name="angle_unit" ng-model="ocomp.angle_unit" ng-options="item as item for item in ocomp.angle_units"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="duration">Durée la plus courte :</label>
<select class="col-8" name="duration" ng-model="element.duration" ng-options="item as item for item in durations"></select>
</div>
</div>

<div class="field_wrapper">
<input class="title" name="verdict" type="text" value="{{ element.verdict }}" disabled="disabled" ng-class="{valid: element.verdict_bool, invalid: element.verdict_bool == false}" />
</div>




<div class="field_wrapper">
<div class="form-horizontal">
<label class="col-4" for="sigmad">&sigma;<sub>c,&alpha;,d</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="sigmad"  type="text" value="{{ ocomp.sigmad | number: 2 }}" disabled="disabled" />
<label class="col-4" for="fcad">&fnof;<sub>c,&alpha;,d</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="fcad" type="text" value="{{ ocomp.fdfinal | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
    <label class="col-4" for="fc0k">&fnof;<sub>c,0,k</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="fc0k"  type="text" value="{{ ocomp.f0k | number: 2  }}" disabled="disabled" />

<label class="col-4" for="fc0d">&fnof;<sub>c,0,d</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="fc0d"  type="text" value="{{ ocomp.f0d | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
    <label class="col-4" for="fc90k">&fnof;<sub>c,90,k</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="fc90k"  type="text" value="{{ ocomp.f90k | number: 2  }}" disabled="disabled" />

<label class="col-4" for="fc90d">&fnof;<sub>c,90,d</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="fc90d"  type="text" value="{{ ocomp.f90d | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="kmod">K<sub>mod</sub> :</label>
<input class="col-2" name="kmod"  type="text" value="{{ element.kmod | number: 2 }}" disabled="disabled" />

<label class="col-4" for="gammaM">&gamma;<sub>M</sub> :</label>
<input class="col-2" name="gammaM"  type="text" value="{{ element.gammaM | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="base_surface">Surface d'appui <span class="unit">(mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="base_surface"  type="text" value="{{ ocomp.base_surface }}" disabled="disabled" />
<label class="col-4" for="kc90">K<sub>c,90</sub> :</label>
<input class="col-2" name="kc90"  type="text" value="{{ element.kc90 | number: 2 }}" disabled="disabled" />
</div>

</div>





