<div class="field_wrapper">
<div class="form-horizontal">
<label class="col-4" for="height">Hauteur <span class="unit">(mm)</span> :</label>
<input class="col-8" name="height" ng-model="element.height" />
</div>

<div class="form-horizontal">
<label class="col-4" for="width">Base <span class="unit">(mm)</span> :</label>
<input class="col-8" name="width" ng-model="element.width" />
</div>

<div class="form-horizontal">
<label class="col-4" for="base_length">Profondeur d'appui <span class="unit">(mm)</span> :</label>
<input class="col-8" name="base_length" ng-model="pcomp.base_length" />
</div>

<div class="form-horizontal">
<label class="col-4" for="base_overtaking">Dépassement de l'appui <span class="unit">(mm)</span> :</label>
<input class="col-8" name="base_overtaking" ng-model="pcomp.base_overtaking" />
</div>

<div class="form-horizontal">
<label class="col-4" for="material">Matériau :</label>
<select class="col-8" name="material" ng-model="element.material" ng-options="item.key as item.value for item in materials"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="material_class">Classe du matérieau :</label>
<select class="col-8" name="material_class" ng-model="element.material_class" ng-options="key as key for (key, value) in material_classes"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="service_class">Classe de service :</label>
<select class="col-8" name="service_class" ng-model="element.service_class" ng-options="item as item for item in service_classes"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="combinaison">Combinaison :</label>
<select class="col-8" name="combinaison" ng-model="element.combinaison" ng-options="item as item for item in combinaisons"></select>
</div>

<div class="form-horizontal">
<label class="col-4" for="effort">Effort pondéré <span class="unit">(daN)</span> :</label>
<input class="col-8" name="effort" ng-model="element.effort" />
</div>

<div class="form-horizontal">
<label class="col-4" for="duration">Durée la plus courte :</label>
<select class="col-8" name="duration" ng-model="element.duration" ng-options="item as item for item in durations"></select>
</div>
</div>

<div class="field_wrapper">
<input class="title" name="verdict" type="text" value="{{ element.verdict }}" disabled="disabled" ng-class="{valid: element.verdict_bool, invalid: element.verdict_bool == false}" />
</div>




<div class="field_wrapper">
<div class="form-horizontal">
<label class="col-4" for="global_section">Section globale <span class="unit">(mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="global_section"  type="text" value="{{ element.global_section }}" disabled="disabled" />

<label class="col-4" for="aef">A<sub>ef</sub> <span class="unit">(mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="aef"  type="text" value="{{ pcomp.aef }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="sigmad">&sigma;<sub>c,90,d</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="sigmad"  type="text" value="{{ element.sigmad | number: 2 }}" disabled="disabled" />
<label class="col-4" for="fc90dkc90">&fnof;<sub>c,90,d</sub> * K<sub>c,90</sub> <span class="unit">(N/mm<sup>2</sup>)</span> :</label>
<input class="col-2" name="fc90dkc90" type="text" value="{{ element.fdfinal | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="fc90k">&fnof;<sub>c,90,k</sub> en N/mm<sup>2</sup> :</label>
<input class="col-2" name="fc90k"  type="text" value="{{ element.fk | number: 2  }}" disabled="disabled" />

<label class="col-4" for="fc90d">&fnof;<sub>c,90,d</sub> en N/mm<sup>2</sup> :</label>
<input class="col-2" name="fc90d"  type="text" value="{{ element.fd | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="kmod">K<sub>mod</sub> :</label>
<input class="col-2" name="kmod"  type="text" value="{{ element.kmod | number: 2 }}" disabled="disabled" />

<label class="col-4" for="gammaM">&gamma;<sub>M</sub> :</label>
<input class="col-2" name="gammaM"  type="text" value="{{ element.gammaM | number: 2 }}" disabled="disabled" />
</div>

<div class="form-horizontal">
<label class="col-4" for="lef">l<sub>ef</sub> :</label>
<input class="col-2" name="lef"  type="text" value="{{ pcomp.lef | number: 2 }}" disabled="disabled" />
<label class="col-4" for="kc90">K<sub>c,90</sub> :</label>
<input class="col-2" name="kc90"  type="text" value="{{ element.kc90 | number: 2 }}" disabled="disabled" />
</div>

</div>





